body{
  margin: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.form{
  border: solid;
  border-style: dashed;
  border-color: brown;
  padding: 3%;
  background-color: beige;
}

.wiki{
  border: solid;
  border-style: dashed;
  border-color: brown;
  padding: 3%;
  background-color: beige;
  /* background-color: rgb(190, 237, 255); */
}

.loading{
  border: solid;
  border-style: dashed;
  border-color: brown;
  padding: 3%;
  background-color: rgb(255, 255, 154);
}

.error{
  border: solid;
  border-style: dashed;
  border-color: brown;
  padding: 3%;
  background-color: rgb(255, 139, 139);
}